<%= form_with(model: employee_detail, local: true) do |form| %>
  <% if employee_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee_detail.errors.count, "error") %> prohibited this employee_detail from being saved:</h2>

      <ul>
      <% employee_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name, id: :employee_detail_Name %>
  </div>

  <div class="field">
    <%= form.label :Age %>
    <%= form.number_field :Age, id: :employee_detail_Age %>
  </div>

  <div class="field">
    <%= form.label :Gender %>
    <%= form.select :from, [ 'Male','Female'], :prompt => 'Select One' %>
  </div>

  <div class="field">
    <%= form.label :Role %>
    <%= form.select :from, [ 'Developer','Tester','Manager'], :prompt => 'Select role' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
