<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee_detail.Name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @employee_detail.Age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @employee_detail.Gender %>
</p>

<p>
  <strong>Role:</strong>
  <%= @employee_detail.Role %>
</p>

<%= link_to 'Edit', edit_employee_detail_path(@employee_detail) %> |
<%= link_to 'Back', employee_details_path %>
